<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="formulario">
        <h1>Modificar {{name}}:</h1>

        <form id="formu" action="/api/products/{{pid}}" method="POST">
            <label for="tittle">Tittle: </label><input type="text" name="tittle" id="tittle" placeholder="Nombre del producto" required>
            <label for="description">Description: </label><input name="description" type="text" id="description" placeholder="Descripcion del producto" required>
            <label for="price">Price: </label><input type="number" id="price" name="price" placeholder="Precio" required>
            <label for="thumbnail">Imagen: </label><input name="thumbnail" type="text" id="thumbnail" placeholder="sin imagen">
            <label for="code">Code: </label><input type="number" name="code" id="code" placeholder="Codigo autogenerable" required>
            <label for="status">Status: </label><input name="status" type="text" id="status" placeholder="True o false" required>
            <label for="stock">Stock: </label><input type="number" name="stock" id="stock" placeholder="Cantidad disponible" required>
            <label for="category">Category: </label><input type="text" name="category" id="category" placeholder="Tipo de producto" required>
    
            <input style="margin: 1.5rem;" class="inputEnviar" type="submit" value="Modificar" id="formButton">
        </form>
    </div>

    <footer style="display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: rgb(2, 136, 80);color: white;bottom: 0;width: 100%;height: 7rem;">
        <div style="display: flex;justify-content: center;align-items: center;">
            <div>
                <h3>🌫My aplication</h3>
            </div>
            <p style="margin: 1rem;">Aplicacion creada por Juan Pablo Estrada (sin finalidad comercial)</p>
            <p style="margin: 1rem;">Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>