<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/cookiesForm" method="POST">
        user: <input type="text" name="user" id="user">
        Email: <input type="text" name="email" id="email">

        <button type="submit">Enviar cookies</button>
        <button id="getCookies">Obtener cookies</button>

        <p id="cookies"></p>
    </form>
</body>
<script>
    fetch("/getCookie")
      .then( a =>  a.json())
      .then(data => console.log(data))
</script>
</html>