<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inicia sesion:</h1>

    <div class="centrarForm">
        <form action="/api/sessions/login" method="POST">
            <label>Usuario</label><input type="text" name="email" placeholder="Correo electronico" required>
            <label>Contraseña</label><input type="password" name="password" placeholder="Contraseña" required>

            <button class="button" type="submit">Ingresar</button>
        </form>
    </div>

    <hr style="margin: 2rem;">

    <div class="centrarFormRegister">
        <h2 style="margin-top: 6rem;">Si no tienes una cuenta resgistrate:</h2>
        <form style="background-color: rgb(20, 20, 20);" action="/register">
            <button style="background-color: rgb(1, 66, 1);" class="buttonRegister" type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>