<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1  style="color: rgb(102, 218, 7);">Inicia sesion:</h1>

    <div class="centrarForm">
        <form action="/api/sessions/login" method="POST">
            <label>Usuario</label><input type="text" name="email" placeholder=" Correo electronico" required>
            <label>Contrase単a</label><input type="password" name="password" placeholder=" Contrase単a" required>

            <button class="button" type="submit">Ingresar</button>
            <a class="olvide" style="margin-bottom: 1rem;" href="/recovery">Olvide mi contrase単a</a>
        </form>
    </div>

    <div class="divGithub">
        <p style="color: white;">O ingresa con:</p>
            
        <a href="/api/sessions/github" class="botonGithub"><button class="btnGit">Github</button></a>
    </div>

    <hr style="margin: 2rem;">

    <div class="centrarFormRegister">
        <h2 style="margin-top: 1rem;">多Aun no estas registrado?</h2>
        <form style="background-color: rgb(20, 20, 20);" action="/register">
            <button style="background-color: rgb(107, 145, 3);" class="buttonRegister" type="submit">Registrate</button>
        </form>
    </div>
</body>
</html>