<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header id="headerapp">
        <h2>🌫My aplication SHOP</h2>
    </header>

    <h1 style="color:  rgb(29, 201, 29);">Restablecer contraseña</h1>
    <div class="centrarForm">
        <form action="/api/sessions/recovery" method="POST">
            <label>Usuario</label><input type="text" name="email" placeholder=" Correo electronico" required>
            <label>Nueva contraseña</label><input type="password" name="password" placeholder=" Nueva contraseña" required>

            <button class="button" type="submit">Restablecer</button>
        </form>
    </div>

    <hr style="margin-top: 1.5rem;">
        <div style="margin-top: 1.5rem;" class="center">
            <a href="/login"><button class="buttonRegister">Inicio</button></a>
        </div> 
    

    <footer style="display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: rgb(2, 136, 80);color: white;bottom: 0;width: 100%;height: 7rem;">
        <div style="display: flex;justify-content: center;align-items: center;">
            <div>
                <h3>🌫My aplication</h3>
            </div>
            <p style="margin: 1rem;">Aplicacion creada por Juan Pablo Estrada (sin finalidad comercial)</p>
            <p style="margin: 1rem;">Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>