<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header id="headerapp">
        <h2>🌫My aplication</h2>
    </header>

    <h1>Registrate:</h1>

    <div class="centrarForm">
        <form action="/api/sessions/register" method="POST">
            <label>Nombre:</label> <input type="text" name="first_name" placeholder=" Nombres" id="nombre" required>
            <label>Apellido:</label> <input type="text" name="last_name" placeholder=" Apellidos" id="apellido" required>
            <label>Email: </label><input type="email" name="email" placeholder=" Correo electronico" id="email" required>
            <label for="typeCount">Tipo de cuenta</label><select id="typeCount" name="typeCount" class="selec">
                <option value="value1" hidden selected>Selecciona una opcion</option>
                <option value="Admin">Admin</option>
                <option value="Premium">Cuenta Premium</option>
                <option value="User">Cuenta normal</option>
            </select>
            <label>Edad:</label> <input type="number" name="age" placeholder=" Edad" required>
            <label>Contraseña:</label> <input type="password" name="password" placeholder=" Contraseña" required>

        
            {{#if hasError}}
                <p style="color: red;">⚠ {{error}}</p>
            {{/if}}
           

            <button class="button" type="submit" id="registrarseBtn">Registrarse</button>


        </form>
    </div>
    <hr style="margin-top: 1.5rem;">
        <div style="margin-top: 1.5rem;" class="center">
            <a href="/login"><button class="buttonRegister">Ir a login</button></a>
        </div> 
    <hr style="margin-top: 1.5rem;">
 
</body>
</html>