<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header id="headerapp">
        <h2>🌫My aplication</h2>
    </header>

    <h1 style="color: green;">¡Se envio un correo para restablecer la contraseña! 📧</h1>

    <div class="centrar">
        <a href="/login"><button class="button">Inicio</button></a>
    </div>

    <footer style="display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: rgb(2, 136, 80);color: white;bottom: 0;position: relative;width: 100%;height: 7rem;">
        <div style="display: flex;justify-content: center;align-items: center;">
            <div>
                <h3>🌫My aplication</h3>
            </div>
            <p style="margin: 1rem;">Aplicacion creada por Juan Pablo Estrada (sin finalidad comercial)</p>
            <p style="margin: 1rem;">Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>