body{
    background-color: rgb(27, 26, 26);
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: rgb(0, 248, 145);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin-top: .5rem;
    font-size: 1rem;
    border-radius: .5rem;
}

label{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgb(2, 119, 74);
}

.inputEnviar{
    margin-top: 2rem;
    background-color: black;
    color: white;
    width: 6rem;
}

.inputEnviar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2{
    color: rgb(0, 172, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(165, 165, 68);
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

td{
    border-bottom: double;
}

th{
    border: solid;
    border-right: solid;
}

body{
    display: flex;
}

#formulario,#tabla{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: rgb(88, 82, 82);
    padding: 1rem;
    padding-top: 1rem;
}

.productos{
    background-color: grey;
}