*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 136, 80);
    margin-bottom: 5rem;
    height: 10rem;
    color: white;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    margin-bottom: 4rem;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    padding: 1rem;
}

.divh3{
    display: flex;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 136, 80);
    color: white;
    position:absolute;
    bottom: 0;
    width: 100%;
}

.foot{
    margin: 1rem;
}

.inputIngresar{
    height: 4rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: rgb(1, 43, 1);
    border: rgb(1, 43, 1);
    color: white;
}

.ingresar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0rem 2rem 0rem;
}

.inputIngresar:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(1, 78, 1);
}

form{
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin-right: 0rem;
    background-color: rgb(39, 39, 39);
    border-radius: 1rem;
}

.divForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelNombre{
    margin-top: 2rem;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.inputLogin{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    border: black;
    color: white;
    height: 3rem;
    border-radius: .5rem;
}



h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: rgb(255, 255, 255);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#body{
    display: flex;
}


input{
    margin-top: .5rem;
    font-size: 1rem;
    border-radius: .5rem;
}

label{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgb(2, 119, 74);
}

.inputEnviar{
    margin-top: 2rem;
    background-color: black;
    color: white;
    width: 6rem;
}

.inputEnviar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2{
    color: rgb(0, 172, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(107, 106, 106);
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

td{
    border-bottom: double;
    height: 2rem;
    background-color: rgb(112, 112, 94);
}

th{
    border: solid;
    border-right: solid;
    background-color: rgb(206, 4, 4);
    border-color: rgb(206, 4, 4);
    color: white;
    height: 2rem;
}


#formulario,#tabla{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: rgb(88, 82, 82);
    padding: 1rem;
    padding-top: 1rem;
}

.productos{
    background-color: grey;
}

.butn{
    background-color: red;
    color: white;
    border-radius: 50%;
    margin-left: .5rem;
}

.butn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.h2enlinea{
    margin-bottom: 4rem;
    color: rgb(2, 216, 2);
}

#headerChat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 136, 80);
    margin-bottom: 1rem;
    height: 10rem;
    color: rgb(255, 255, 255);
}

.divMensajes{
    background-color: rgb(43, 42, 42);
    color: white;
    margin: 2rem 1rem 0rem 1rem;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-weight: bolder;
}

.contenedorNotificaciones{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barraBaja{
    position: absolute;
    width: 100%;
    bottom: 1rem;
}

#mensajeInput{
    margin-left: .5rem;
    width: 90%;
    height: 3.5rem;
    font-size: 1.2rem;
    background-color: rgb(43, 42, 42);
    color: white;
}

#mensajeEnviar{
    width: 8%;
    height: 3.5rem;
    background-color: rgb(13, 121, 13);
    border-color: rgb(20, 139, 20);
    color: white;
}

#mensajeEnviar:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#tablePaginate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem
}

.tablePag{
    width: 40rem;
}

.center{
    text-align: center;
}

.h3Paginate{
    text-align: center;
    color: whitesmoke;
    font-size: 1.65rem;
}

.h3Paginatediv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.divBotonsPaginate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.buttonPaginate{
    background-color: black;
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
    border-color: black;
}

.buttonPaginate:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(22, 21, 21);
}

.enlace{
    text-decoration: none;
    color: white;
}

.none{
    background-color: rgb(107, 106, 106);
    border-color: rgb(107, 106, 106);
}

.detallebtn{
    background-color: blue;
    color: white;
    padding: 0.5rem;
}

.detallebtn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(30, 54, 119);
}

.agregarbtn{
    background-color: rgb(160, 189, 0);
    width: 6rem;
    color: white;
}

.agregarbtn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(62, 165, 2);
}

.button{
    background-color: black;
    color: white;
    padding: 1rem;
    border-color: black;
    border-radius: 20%;
    margin: 2rem;
}

.button:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(27, 27, 27);
}

.centrarForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divh1Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 170, 101);
    height: 7.5rem;
    margin-bottom: 3rem;
}

.headerPerfilh1{
    margin: 0rem;
}

.datosUser{
    background-color: grey;
    padding: 1rem;
}

.titulo{
    font-size: 1.5rem;
}

.parrafo{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.btnClose{
    background-color: red;
    color: white;
    margin: 1.5rem;
    padding: .5rem;
    border-radius: 10%;
}

.btnClose:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(121, 3, 3);
}

.logout{
    background-color: grey;
}

.centrarFormRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonRegister{
    background-color: black;
    color: white;
    padding: 1rem;
    border-color: black;
    border-radius: 20%;
}

.buttonRegister:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.olvide{
    text-decoration: underline;
    color: rgb(25, 93, 194);
}

.botonGithub{
    margin: 1.5rem 0rem 1.5rem 0rem
}

.btnGit{
    border-radius: 2rem;
    width: 8rem;
    height: 3rem;
    background-image: radial-gradient(rgb(216, 205, 205), rgb(0, 0, 0));
    color: black;
}

.btnGit:hover{
    transform: scale(1.05);
    cursor: pointer;
    border-radius: .5rem;
    background-image: radial-gradient(rgb(216, 205, 205), rgb(49, 49, 49));
}

.divGithub{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    padding: 1rem;
}